@import "../../../assets/hyunahPark/font.css"; //for 'Lobster-Regular' font
@import "../mixin";
@import "../../../styles/variables";

@mixin inputIdPw {
  margin-right: 30px;
  margin-bottom: 7px;
  margin-left: 30px;
  border-width: 1px;
  border-radius: 5px;

  border-color: $body-white;

  background-color: $body-white;

  font-size: 15px;
}

@mixin btnMode {
  &.notValid {
    background-color: #9cd3f8;
  }
  &.valid {
    background-color: #4cb5f9;
  }
}

//body
.login {
  @include flexSort(center, center);

  width: 100vw;
  height: 100vh;

  background-color: $body-white;

  .loginBox {
    width: 400px;
    border: 1px $body-white solid;
    background-color: white;
    text-align: center;

    .logo {
      margin: 50px;

      font-family: "Lobster-Regular";
      font-size: 350%;
      font-weight: lighter;
    }

    .id {
      width: 80%;
      height: 35px;

      @include inputIdPw();
    }

    .password {
      width: 80%;
      height: 35px;

      @include inputIdPw();
    }

    .button {
      @include btnMode;

      width: 80%;
      height: 35px;

      margin-top: 10px;

      border: none;
      border-radius: 5px;

      color: white;
      text-align: center;
    }

    .forget {
      margin-top: 30%;
      margin-bottom: 10%;
      color: #065183;

      font-size: 120%;
      @include bold;
    }
  }
}
