$borderColor: 1px solid #e6e6e6;
$check-line: 1px solid red;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin marginCenter($tb) {
  margin: $tb + px auto;
}
