@mixin flexSort($justify, $alignItemts) {
  display: flex;
  align-items: $alignItemts;
  justify-content: $justify;
}

@mixin circleBorder {
  border-radius: 70%;
}

@mixin bold {
  font-weight: bold;
}
