@mixin flexSort($justify, $alignItemts) {
  display: flex;
  align-items: $alignItemts;
  justify-content: $justify;
}

@mixin articleElePadding {
  padding: 7px;
  padding-top: 0px;
}

@mixin bold {
  font-weight: bold;
}

.comment {
  .articleReplyAdd {
    @include articleElePadding();
    @include flexSort(space-between, center);
  }

  .articleReplyProfileId {
    @include bold;
  }
}
