// @import '../../../styles/mixin.scss'
@import "../../../styles/variables";

/////////////////
@mixin flexSort($justify, $alignItemts) {
  display: flex;
  align-items: $alignItemts;
  justify-content: $justify;
}

@mixin circleBorder {
  border-radius: 70%;
}

@mixin bold {
  font-weight: bold;
}
/////////////////

//body
.main {
  padding: 0%;
  background-color: rgb(245, 245, 245);
}

@mixin articleElePadding {
  padding: 7px;
  padding-top: 0px;
}

@mixin rightProfileId {
  display: flex;
  flex-direction: column;
  // align-items: center;

  padding-left: 10px;
}

///////////
.nav {
  @include flexSort(space-between, none);

  padding: 10px;

  border-bottom: 1px solid $body-white;
  background-color: white;

  font-family: "Lobster";
  font-size: 30pt;

  .navPart {
    @include flexSort(space-between, center);

    .westagramLogo {
      margin-left: 20px;
      padding-left: 10px;

      border-left: 2px solid black;
    }
  }

  .search {
    outline: none;
    text-align: center;
  }
}

.mainPart {
  display: flex;

  // 1. mainFeeds (2. mainRight)
  .mainFeeds {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;

    padding-left: 20%;

    background-color: $body-white;

    .articlePart {
      width: 500px;

      border: 1px solid $body-white;
      background-color: white;

      // 1) article head
      .articleHead {
        @include flexSort(space-between, none);

        padding: 10px;

        .articleProfile {
          @include flexSort(space-between, center);

          .mickeyProfileImg {
            @include circleBorder;
          }

          .articleProfileId {
            @include bold;
          }
        }
      }

      // 2) article main img

      // 3) article react icon
      .articleReactIcon {
        @include flexSort(space-between, center);

        @include articleElePadding();
        margin-top: 5px;

        & i {
          font-size: 30px;
        }

        .articleReactIconRight {
          @include flexSort(space-between, center);

          width: 120px;

          #articleReactIconHeart {
            color: #ff007b;
          }
        }
      }

      // 4) article like

      .articleLike {
        @include flexSort(none, center);

        @include articleElePadding();

        .icecreamProfileImg {
          @include circleBorder;
        }

        .articleLikeProfileId {
          @include bold;
        }

        .articleLikeProfileEtc {
          @include bold;
        }
      }

      // 5) article content

      .articleContent {
        display: flex;

        @include articleElePadding();

        .articleContentProfileId {
          @include bold;
        }

        .articleContentMore {
          @include flexSort(space-between, end);

          color: gray;
          font-size: 14px;
        }
      }

      // 6) article reply

      // 7) article time

      .articleTime {
        @include articleElePadding();

        border-bottom: 1px solid $body-white;

        color: gray;
      }

      // 8) article reply input

      .articleReplyInput {
        @include flexSort(space-between, center);

        @include articleElePadding();
        padding-right: 3px;

        .replyTxt {
          width: 90%;
          height: 30px;

          border: none;
          outline: none;

          background-color: white;
        }

        .replyButton {
          border: none;
          outline: none;
          background-color: white;
        }
      }
    }
  }

  //////////

  // 2. mainRight (1. mainFeeds -> article)
  .mainRight {
    flex-grow: 1;
    padding-top: 50px;

    padding-left: 1%;

    background-color: $body-white;

    // 1. side profile
    .sideProfile {
      @include flexSort(none, center);

      margin-bottom: 10px;

      .sideProfileImg {
        @include circleBorder;
      }

      .sideProfileId {
        @include rightProfileId();

        .sideProfileIdName {
          @include bold;
        }
      }
    }

    // 2. story
    .story {
      width: 250px;

      margin-bottom: 10px;
      padding: 10px;

      border: 1px solid $body-white;
      background-color: white;

      .storyDomain {
        @include flexSort(space-between, center);

        margin-bottom: 20px;

        .storyTxt {
          color: gray;
          @include bold;
        }

        .storyViewAll {
          @include bold;
        }
      }

      .storyProfile {
        display: flex;
        align-items: center;

        margin-bottom: 10px;

        .storyProfileIdImg {
          @include circleBorder;
        }

        .storyProfileId {
          @include rightProfileId();

          .storyProfileIdName {
            @include bold;
          }
        }
      }
    }

    // 3. recommendation
    .recommendation {
      width: 250px;

      margin-bottom: 10px;
      padding: 10px;

      border: 1px solid $body-white;
      background-color: white;

      .recommendationDomain {
        @include flexSort(space-between, center);

        margin-bottom: 20px;

        .recTxt {
          color: gray;
          @include bold;
        }

        .recViewAll {
          @include bold;
        }
      }

      .recommendationProfile {
        @include flexSort(none, center);

        margin-bottom: 10px;

        .recProfileIdImg {
          @include circleBorder;
        }

        .recProfileId {
          @include rightProfileId();

          .recProfileIdName {
            @include bold;
          }
        }
      }
    }
  }
}
